/* body{
    background-color: black;
} */
#navbar{
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* background-color: black; */
}
#navbar div img{
    padding-left: 20%;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 3px;
    padding-bottom: 8px;
    flex-direction: column;
}
.home{
    height: 370px; 
    padding: 3px 28px;
    /* width: 100%; */
}

.home::before{
    height: 480px; 
   
}

.home p{
    font-size: 13px;
    /* flex-direction: column; */
}
#about{
    flex-direction: column;
}

